@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: hsl(0, 0%, 15%) ; */
    background-image: url(bg2.png);
    background-size:cover;
    /* background-repeat: no-repeat; */
    color:#fff;
    padding-top: 40px;

}


.content{
    padding: 20px;
    /* background-color: rgb(68, 68, 77); */
    text-align: center;
    border-radius: 20px;
    margin-bottom: 45px;
}

.header{
    font-size: 68px;
   color:#fff;
   padding: 10px;
}

label{
    font-size: 22px;
}

input{
    font-size: 12px;
    border-radius: 32px;
    border-color: rgb(251, 249, 245);
    color:black;
     padding: 9px;
}

.button{
    width: 68px;
    height: 40px;
    border-radius: 30px;
    background-color: blanchedalmond;
    transition: all 0.3s ease;
    cursor: pointer;
    border-color: none;
}


.button:hover{
    background-color: rgb(122, 122, 236);
    color: #fff;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 15px;
    display: none;
    color:#fff;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.pokemonname{
    font-size: 47px;
}
.weight{
    font-size: 25px;
}
.height{
    font-size: 25px;
}

.errordisplay{
    text-align: center;
    font-size: 40px;
}

.imagedisplay{
    display: flex;
    justify-content: center;
    align-items: center;
     
    
}

img{
    width: 400px;
     margin: 21px 20px;


     background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

    



@media (max-width : 768px) {
    .container{
        height: 190vh;
        background-image: url(Pikachuu.jpg);
        background-size:contain;
        width: auto;
        
    }
    .results{
        color: rgb(39, 37, 37);
    }
    button{
       margin: 19px;
    }
  
    img{
      margin: 10px;  
        

    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }


  .results{
    margin-bottom: 10px;
  }
  .pokemonname{
    font-size: 25px;
  }
  .ability{
    font-size: 20px;
  }
  .weight{
    font-size: 20px;
  }
  .height{
    font-size: 20px;
  }
}


